.libs
.deps
.dirstamp

# Automake stuff
Makefile
Makefile.in
Makefile.mk
/aclocal.m4
/configure
/version.h
/version.h.in~
/config.h
/config.h.in~
/config.log
/config.status
/autom4te*.cache
/stamp-h1
/stamp-h.in
/libtool
/*build*

# Xcode workspace
/Xapiand.xcodeproj/xcuserdata
/Xapiand.xcodeproj/project.xcworkspace

# Xapian Databases
*.baseA
*.baseB
*.DB

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyo
*.pyc

# Fortran module files
*.mod

# OS X
.DS_Store

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/xapiand
