Germán Méndez Bravo <german.mb@dubalu.com>
Germán Méndez Bravo <german.mb@dubalu.com> <german.mb@deipi.com>
Germán Méndez Bravo <german.mb@dubalu.com> <german.mb@gmail.com>
José Madrigal Cárdenas <mac.yosef@gmail.com>
José María Valencia Ramírez <chem_valencia@hotmail.com>
