.highlight {
	color: #c8c6c5;
	.hll { background-color: #ffffcc }
	.c { color: #95815e; font-style: italic } /* Comment */
	// .err { color: #c8c6c5} /* Error */
	// .g { color: #c8c6c5} /* Generic */
	.k { color: #cc7833} /* Keyword */
	// .l { color: #c8c6c5} /* Literal */
	// .n { color: #c8c6c5} /* Name */
	// .o { color: #c8c6c5} /* Operator */
	// .x { color: #c8c6c5} /* Other */
	.p { color: #c8c6c5} /* Punctuation */
	.cm { color: #95815e} /* Comment.Multiline */
	.cp { color: #cc7833} /* Comment.Preproc */
	.c1 { color: #95815e} /* Comment.Single */
	.cs { color: #95815e} /* Comment.Special */
	.gd { color: #dc322f} /* Generic.Deleted */
	.ge { color: #c000c0; text-decoration: underline} /* Generic.Emph */
	.gr { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Error */
	.gh { color: #cc7833} /* Generic.Heading */
	.gi { color: #219186} /* Generic.Inserted */
	span.go { color: #add8e6; font-weight: bold; background-color: #4d4d4d } /* Generic.Output, qualified with span to prevent applying this style to the Go language, see #1153. */
	.gp { color: #95815e} /* Generic.Prompt */
	// .gs { color: #c8c6c5} /* Generic.Strong */
	.gu { color: #cc7833} /* Generic.Subheading */
	.gt { color: #c0c0c0; font-weight: bold; background-color: #c00000 } /* Generic.Traceback */
	.kc { color: #cc7833} /* Keyword.Constant */
	.kd { color: #cc7833} /* Keyword.Declaration */
	.kn { color: #cc7833} /* Keyword.Namespace */
	.kp { color: #cc7833} /* Keyword.Pseudo */
	.kr { color: #cc7833} /* Keyword.Reserved */
	.kt { color: #cc7833} /* Keyword.Type */
	// .ld { color: #c8c6c5} /* Literal.Date */
	// .m { color: #c8c6c5} /* Literal.Number */
	.s { color: #a5c261} /* Literal.String */
	// .na { color: #c8c6c5} /* Name.Attribute */
	// .nb { color: #c8c6c5} /* Name.Builtin */
	// .nc { color: #c8c6c5} /* Name.Class */
	.no { color: #cc7833} /* Name.Constant */
	// .nd { color: #c8c6c5} /* Name.Decorator */
	.ni { color: #caa473} /* Name.Entity */
	// .ne { color: #c8c6c5} /* Name.Exception */
	// .nf { color: #c8c6c5} /* Name.Function */
	// .nl { color: #c8c6c5} /* Name.Label */
	// .nn { color: #c8c6c5} /* Name.Namespace */
	// .nx { color: #c8c6c5} /* Name.Other */
	// .py { color: #c8c6c5} /* Name.Property */
	.nt { color: #cc7833} /* Name.Tag */
	.nv { color: #e8e6e5} /* Name.Variable */
	// .ow { color: #c8c6c5} /* Operator.Word */
	// .w { color: #c8c6c5} /* Text.Whitespace */
	// .mf { color: #c8c6c5} /* Literal.Number.Float */
	// .mh { color: #c8c6c5} /* Literal.Number.Hex */
	// .mi { color: #c8c6c5} /* Literal.Number.Integer */
	// .mo { color: #c8c6c5} /* Literal.Number.Oct */
	.sb { color: #a5c261} /* Literal.String.Backtick */
	.sc { color: #a5c261} /* Literal.String.Char */
	.sd { color: #a5c261} /* Literal.String.Doc */
	.s2 { color: #a5c261} /* Literal.String.Double */
	.se { color: #a5c261} /* Literal.String.Escape */
	.sh { color: #a5c261} /* Literal.String.Heredoc */
	.si { color: #a5c261} /* Literal.String.Interpol */
	.sx { color: #a5c261} /* Literal.String.Other */
	.sr { color: #a5c261} /* Literal.String.Regex */
	.s1 { color: #a5c261} /* Literal.String.Single */
	.ss { color: #a5c261} /* Literal.String.Symbol */
	// .bp { color: #c8c6c5} /* Name.Builtin.Pseudo */
	.vc { color: #e8e6e5} /* Name.Variable.Class */
	.vg { color: #e8e6e5} /* Name.Variable.Global */
	.vi { color: #e8e6e5} /* Name.Variable.Instance */
	// .il { color: #c8c6c5} /* Literal.Number.Integer.Long */
	.bash .nv {
		user-select: none;
	}
}
